/* Updated for dark theme and fixed header/footer */

body {
  --background: #000f;
  --foreground: #ffff;
  --readingwidth: 25em;
  --navbarheight: 5em;
  --textdisplay: block;
}

.highlighted-query {
  color: #f0fc;
}

.content {
  .verse {
    text-indent: 1em;
    padding: 0.4em;
    max-width: var(--readingwidth);
    margin: auto;
    display: var(--textdisplay);
    cursor: pointer;
  }

  .verse:hover {
    text-shadow: 0 0 5px #fff4;
  }

  .verse .verseNumber {
    color: #fff8;
    padding: 0.5em;
  }

  .verseActive .verseNumber {
    color: #f0fc;
  }

  .verse .versePBreak {
    color: #fff8;
  }

  > :last-child {
    min-height: 100%;
    padding-bottom: 2rem;
  }
}

.content.wrap {
  .verse {
    display: inline;
  }

  div.versePBreak::before {
    display: block;
    content: "";
  }

  .versePBreak .verseNumber,
  > :first-child .verseNumber {
    /* display: inline-block; */
    font-size: 2em;
    text-transform: capitalize;
    float: left;
    line-height: 0.8;
    padding: 0.2em 0.1em 0 0;
  }

  .versePBreak .versePBreak {
    display: none;
  }
}
