.icon-button {
  display: inline;
}

.note-area {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  color: #fff4;

  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 1em;
  outline: none;
  resize: vertical;
}

.info-container {
  display: none;
}
.bookmark-not-added {
  color: #fff;
}
.bookmark-added {
  color: #f0f;
}

.active .info-container {
  display: block;
  /* margin-top: 1em;
  padding: 1em;
  border: 1px solid #fff4;
  border-radius: var(--border-radius-medium);
  background-color: #0008; */
}

.active .info-container.is-highlighted {
  display: block;
  border-left: 2px solid #fff8;
  padding-left: 0.35rem;
}

.content {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  font-size: var(--font-size);
  /* overflow: scroll; */
  scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
